

.timeline{
    z-index:1;
    left: 100px; 
    margin-top: -175px;
    top: 325px;
    width:500px;
}

.overlay{
    position: relative;
    z-index: 2;
    margin-top:-400px;
    top: 325px;
    margin-left: 100px;
    /* background-color: black; */
    background-color: #B5D6F7;
    height: 175px;
    width: 500px;
}

.overlaid-timeline{
    position: relative;
    top: -150px;
    /* background-color: red; */
    width:500px;
}

.big-table{
    width: 800px;
    /* background-color: green; */
}

.right-blogs{
    position: relative;
    top: -15px;
    left: 20%;
    /* background-color: purple; */
}

/* transform: scale(3);  */
/* background-color: pink; */